In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("nfl_draft.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8435 entries, 0 to 8434
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   column_a           8435 non-null   object
 1   player_id          7216 non-null   object
 2   year               8435 non-null   int64
 3   rnd                8435 non-null   int64
 4   pick               8435 non-null   int64
 5   tm                 8435 non-null   object
 6   player             8435 non-null   object
 7   hof                8435 non-null   object
 8   pos                8435 non-null   object
 9   position_standard  8435 non-null   object
 10  first4av           8435 non-null   int64
 11  age                7190 non-null   float64
 12  to                 7053 non-null   float64
 13  ap1                8435 non-null   int64
 14  pb                 8435 non-null   int64
 15  st                 8435 non-null   int64
 16  carav              7053 non-null   float64
 17  drav               6270 non-null   float64
 18  g                  7020 non-null   float64
 19  cmp                594 non-null    float64
 20  pass_att           594 non-null    float64
 21  pass_yds           594 non-null    float64
 22  pass_td            594 non-null    float64
 23  pass_int           594 non-null    float64
 24  rush_att           1646 non-null   float64
 25  rush_yds           1646 non-null   float64
 26  rush_tds           1646 non-null   float64
 27  rec                2171 non-null   float64
 28  rec_yds            2171 non-null   float64
 29  rec_tds            2171 non-null   float64
 30  tkl                4111 non-null   float64
 31  def_int            1616 non-null   float64
 32  sk                 4047 non-null   object
 33  college_univ       5005 non-null   object
dtypes: float64(18), int64(7), object(9)
memory usage: 2.2+ MB

In [4]:

percent_missing = df.isnull().sum() / len(df) * 100

print(percent_missing.round(2))

column_a              0.00
player_id            14.45
year                  0.00
rnd                   0.00
pick                  0.00
tm                    0.00
player                0.00
hof                   0.00
pos                   0.00
position_standard     0.00
first4av              0.00
age                  14.76
to                   16.38
ap1                   0.00
pb                    0.00
st                    0.00
carav                16.38
drav                 25.67
g                    16.78
cmp                  92.96
pass_att             92.96
pass_yds             92.96
pass_td              92.96
pass_int             92.96
rush_att             80.49
rush_yds             80.49
rush_tds             80.49
rec                  74.26
rec_yds              74.26
rec_tds              74.26
tkl                  51.26
def_int              80.84
sk                   52.02
college_univ         40.66
dtype: float64

In [7]:
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())


categorical_columns = df.select_dtypes(include='object').columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])


boolean_columns = df.select_dtypes(include='bool').columns
df[boolean_columns] = df[boolean_columns].fillna(False)

In [6]:
df.isnull().sum()

column_a             0
player_id            0
year                 0
rnd                  0
pick                 0
tm                   0
player               0
hof                  0
pos                  0
position_standard    0
first4av             0
age                  0
to                   0
ap1                  0
pb                   0
st                   0
carav                0
drav                 0
g                    0
cmp                  0
pass_att             0
pass_yds             0
pass_td              0
pass_int             0
rush_att             0
rush_yds             0
rush_tds             0
rec                  0
rec_yds              0
rec_tds              0
tkl                  0
def_int              0
sk                   0
college_univ         0
dtype: int64